$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$module: 'heroApp';
%buttonsPlaceholder {
    display: flex;
    background-color: #eee;
    color: #039be5;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #CFD8DC;
    }
    ;
}

.#{$module} {
    &__mainHolder {
        display: flex;
        width: 300px
    }
    &__mainHolder__btn {
        @extend %buttonsPlaceholder;
        width: 120px;
        height: 30px;
        margin-left: 20px;
    }
    &__heroListHolder {
        margin-left: 10px
    }
    &__heroListHolder__add {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
    &__heroListHolder__addBtn {
        @extend %buttonsPlaceholder;
        width: 50px;
        height: 30px;
    }
    &__heroListHolder__heroDetails {
        display: flex;
        width: 100%;
        margin-top: 10px
    }
    &__heroListHolder__heroDetails__ID {
        background-color: grey;
        color: white;
        display: flex;
        width: 20px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }
    &__heroListHolder__heroDetails__Name {
        display: flex;
        background-color: #eee;
        color: #607D8B;
        cursor: pointer;
        width: 120px;
        height: 30px;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        font-weight: bold;
        &:hover {
            background-color: #607D8B;
            color: #eee;
        }
    }
    &__heroListHolder__heroDetails__Remove {
        background-color: grey;
        color: white;
        display: flex;
        width: 20px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }
    &__dashBoardHolder {
        display: flex;
        margin-left: 10px;
        padding-bottom: 20px;
    }
    &__dashBoardHolder_heroHolder {
        padding-right: 10px;
    }
    &__dashBoardHolder_box {
        display: flex;
        background-color: #607D8B;
        color: #eee;
        cursor: pointer;
        width: 120px;
        height: 100px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        &:hover {
            background-color: #eee;
            color: #607D8B
        }
    }
    &__dashBoardHolder_search {
        width: 170px;
        margin-left: 10px;
    }
    &__dashBoardHolder_searchInput {
        width: 100%;
    }
    &__dashBoardHolder_searchList {
        border: 1px solid grey;
        padding-left: 10px;
    }
    &__heroDetailsHolder {
        margin-left: 10px;
    }
    &__heroDetailsHolder__btnHolder {
        display: flex;
        width: 300px
    }
    &__heroDetailsHolder__backBtn {
        @extend %buttonsPlaceholder;
        width: 120px;
        height: 30px;
        padding-right: 10px;
    }
    &__heroDetailsHolder__saveBtn {
        @extend %buttonsPlaceholder;
        width: 120px;
        height: 30px;
    }
}

@for $i from 0 through 20 {
    .p-l-#{$i} {
        padding-left: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-r-#{$i} {
        padding-right: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-t-#{$i} {
        padding-top: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-b-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-t-#{$i} {
        margin-top:#{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-r-#{$i} {
        margin-right:#{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-l-#{$i} {
        margin-left:#{$i}px !important;
    }
}

div {
    -webkit-user-select: none;
    /* Chrome, Opera, Safari */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}
