<div class="heroApp__heroDetailsHolder m-l-30">
    <h2 class="m-t-10">{{currentHeroDetails.heroName}} details!</h2>
    <div class="m-t-10">ID : {{currentHeroDetails.heroId}}</div>
    <div class="m-t-10">
        <input ng-model="currentHeroDetails.heroName">
    </div>
    <div class="heroApp__heroDetailsHolder__btnHolder m-t-20">
        <div class="heroApp__heroDetailsHolder__backBtn" ng-click="moveto('heroesDashboard')">Back</div>
        <div class="heroApp__heroDetailsHolder__saveBtn m-l-10" ng-click="saveChanges()">Save</div>
    </div>
</div>
