<div class="heroApp__dashBoardHolder">
    <div ng-repeat="hero in herosDetails|limitTo: 4" class="heroApp__dashBoardHolder_heroHolder m-l-20">
        <div class="heroApp__dashBoardHolder_box m-t-5" ng-click="moveto('heroesDetails',hero.heroId)" class="m-t-5">{{hero.heroName}}</div>
    </div>
</div>
<div class="heroApp__dashBoardHolder_search m-l-30">
    <div class="p-b-5">Hero Search</div>
    <input class="heroApp__dashBoardHolder_searchInput" ng-model="searchedHero" ng-change="onHeroSearch()">
    <div class="heroApp__dashBoardHolder_searchList" ng-if="searchedHeroList.length!=0">
        <div ng-repeat="hero in searchedHeroList" ng-click="moveto('heroesDetails',hero.heroId)" class="m-t-5">{{hero.heroName}}</div>
    </div>
</div>
<div>
