<div class="heroApp__heroListHolder m-l-30">
    <h3 class="p-b-20">My Heroes</h3>
    <div class="heroApp__heroListHolder__add">
        <div>Hero Name:</div>
        <div>
            <input ng-model="heroToAdd" class="m-l-5"></input>
        </div>
        <div class="heroApp__heroListHolder__addBtn m-l-10" ng-click="addHero()">Add</div>
    </div>
    <div class="heroApp__heroListHolder__heroDetails" ng-repeat="hero in herosDetails">
        <div class="heroApp__heroListHolder__heroDetails__ID m-t-5">{{hero.heroId}}</div>
        <div class="heroApp__heroListHolder__heroDetails__Name m-t-5 " ng-click="showHeroDetails(hero)">{{hero.heroName}}</div>
        <div class="heroApp__heroListHolder__heroDetails__Remove m-t-5 " ng-click="removeHero(hero)">X</div>
    </div>
    <div ng-if="selectedHero!=null" class="p-t-10">
        <h2>{{selectedHero.heroName | uppercase}} is my hero</h2>
        <div class="heroApp__heroDetailsHolder__backBtn m-t-10" ng-click="moveto('heroesDetails',selectedHero.heroId)">View Details</div>
    </div>
</div>
