<div class="p-l-10">
    <h2>Tour of Heroes</h2>
    <div class="heroApp__mainHolder m-t-20">
        <div class="heroApp__mainHolder__btn" ng-click="moveto('heroesDashboard')">Dashboard</div>
        <div class="heroApp__mainHolder__btn" ng-click="moveto('heroesList')">Heroes</div>
    </div>
</div>
<div ui-view="" class="m-t-20"></div>
